<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/borrower/add">Add borrower</a></li>
</ul>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Borrowers</th>
    </tr>
    </thead>
    <tr th:each="borrower : ${borrowers}">
        <td><a th:href="'/borrower/detail?borrowerId=' + ${borrower.id}" th:text="${borrower.firstName}  + ${borrower.lastName}"></a></td>
    </tr>
</table>

</body>