<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Item</th>
        <td th:text="${loan.item}"></td>
    </tr>
    <tr>
        <th>Borrower</th>
        <td th:text="${loan.borrower}"></td>
    </tr>
    <tr>
        <th>Due date</th>
        <td th:text="${loan.dueDate}" ></td>
    </tr>
    <tr>
        <th>Terms of loan</th>
        <td th:text="${loan.costForUnreturnedItem}"></td>
    </tr>
    <tr>
        <th:block th:if="${loan.getActive}">
            <th>This loan is active</th>
            <td> <a th:href="@{/loan/return(itemId = ${item.id})}">return loan</a></td>
        </th:block>
        <th:block th:unless = "${item.onLoan}">
            <th>Loan item?</th>
            <td><a th:href="@{/loan/add(itemId = ${item.id})}">create loan</a></td>
        </th:block>
    </tr>
</table>